# Python virtual environment
.venv/
venv/
*/venv/

# Python cache
__pycache__/
*.pyc

# Dataset folder
dataset_split/

# Database file
*.db
history.db

# --- UPDATED ---
# Ignore the original H5 model directory
model_output_multi/
*.h5
*.json
# ---