# Python virtual environment
.venv/
venv/
*/venv/

# Python cache
__pycache__/
*.pyc

# Dataset folder
dataset_split/

# Database file
*.db
history.db

# --- UPDATED ---
# Ignore the original H5 model directory and files
# AFTER

# Ignore the contents of the model folder...
model_output_multi/*

# ...BUT un-ignore (track) these specific model artifacts
!model_output_multi/final_multitask_model.h5
!model_output_multi/model.tflite
!model_output_multi/disease_labels.json
!model_output_multi/part_labels.json

# Archives
*.zip